ul,ol,li,body {
	list-style: none;
	margin: 0;
	padding: 0;
}

/*--------------导航栏----------------------*/

header {
	background: url(../img/banner.jpg) no-repeat;
	background-size: cover;
	padding-top: 15px;
}

nav.header-top {
	width: 1140px;
	background: rgba(0, 0, 0, 0.41);
	margin: 0 auto;
	overflow: hidden;
}

nav.header-top form {
	line-height: 54px;
}

nav.header-top ul li {
	float: left;
	line-height: 54px;
	color: white;
	padding-top: 4px;
}

nav.header-top ul li a {
	margin: 0 15px;
	color: white;
	text-decoration: none;
	transition: all .3s;
}

nav.header-top ul li:after {
	content: '/';
}

nav.header-top ul li:last-of-type:after {
	content: '';
}

nav.header-top ul li:first-of-type a {
	color: yellow;
	border-top: 3px solid yellow;
	/*solid:实心线*/
}

nav.header-top ul li a:hover {
	color: yellow;
	border-top: 3px solid yellow;
}


/*----------------------搜索框------------------*/

nav.header-top form {
	position: relative;
}
.search {
	float: right;
}
nav.header-top form input {
	background: transparent;
	border: 2px solid white;
	outline: none;
	color: white;
	padding: 5px 10px;
	margin-right: 20px;
	
}

nav.header-top form input[type=submit] {
	background: url(../img/search.png) no-repeat;
	padding: 0;
	width: 22px;
	height: 22px;
	border: none;
	background-position: center;
	margin-right: 0;
	position: absolute;
	right: 25px;
	top: 16px;
	cursor: pointer;
}


header .center {
	text-align: center;
	margin: 200px 0 0 0;
}

header .center h1 {
	
	color: white;
	font-size: 80px;
	border-bottom: 5px solid white;
	border-top: 5px solid white;
	display: inline;
}

header .cardbox {
	overflow: hidden;
	width: 1140px;
	margin: 0 auto;
	position: relative;
	top: 150px;
}

header .cardbox .card {
	width: 205px;
	color: white;
	text-align: center;
	background: #16A667;
	padding: 25px;
	float: left;
	margin: 0 15px;
}

header .cardbox .card img {
	border: 8px solid white;
	border-radius: 50%;
	padding: 20px;
	width: 100px;
	transition: all .3s;
}

header .cardbox .card img:hover {
	transform: rotateY(360deg);
}

header .cardbox .card p {
	line-height: 24px;
	font-size: 14px;
	margin: 0;
}


/**/

section.about {
	background: #eee;
	overflow: hidden;
	padding-top: 200px;
	padding-bottom: 30px;
}

.wrap {
	width: 1140px;
	margin: 0 auto;
	/*background: red;*/
}

.fl {
	float: left;
}

.fr {
	float: right;
}

img {
	max-width: 100%;
}

section h3.title {
	font-size: 36px;
	margin-top: 0;
	
}

section.about .fl {
	width: 400px;
}

section.about .fr {
	width: 700px;
	line-height: 24px;
	color: #666666;
}


/*-----------------------------------------*/
section.services {
	background: #37353b;
	padding: 56px 0;
	overflow: hidden;
}

section.services  h3.title {
	color: white;
}

section.services .fac .fa {
	width: 350px;
	color: white;
	text-align: center;
	padding: 15px;
	float: left;
}

section.services .fac .fa img {
	background-color: #16A667;
	border-radius: 10px;
	padding: 15px;
}

section.services .fac .fa img:hover {
	background-color: yellow;
}
section.services .fac .fa h3 {
	font-size: 24px;
	font-weight: bold;
	color: white;
}
section.services .fac .fa p {
	line-height: 24px;
	font-size: 14px;
	color: gray;
}


/*------------------------------------------*/

section.works {
	background: #eee;
	overflow: hidden;
	padding-top: 56px;
	padding-bottom: 56px;
}

section.works .card {
	position: relative;
	width: 285px;
	height: 245px;
	float: left;
}

section.works .card img:first-of-type {
	width: 285px;
	height: 245px;
}

section.works .card .textbox {
	transform: scale(0);
	transition: all .5s;
	position: absolute;
	top: 0;
	left: 0;
	/*width: 100%;*/
	padding: 90px 110px;
	background: rgba(15, 16, 15, 0.16);
	width: 65px;
	height: 65px;
	/*display: block;
	vertical-align: middle;*/
}

section.works .card:hover .textbox {
	transform: scale(1);
	box-shadow: 0 0 10px 0 white;
}


/*-------------------------------------------*/

section.Latest {
	background: white;
	padding: 56px 0;
	overflow: hidden;
}

section.Latest .fbl .fb {
	width: 350px;
	padding: 15px;
	float: left;
}
section.Latest .fbl .fb img {
	width: 350px;
	height: 247px;
}

section.Latest .fbl .fb p {
	margin-bottom: 25px;
	line-height: 24px;
}

section.Latest .fbl .fb a {
	width: 130px;
	color: white;
	background: orange;
	line-height: 40px;
	display: block;
	text-align: center;
	position: relative;
	text-decoration: none;
	z-index: 1;
}

section.Latest .wrap .fb a:after {
	top: 0;
	left: 0;
	content: '';
	width: 130px;
	height: 40px;
	display: block;
	position: absolute;
	background: #16A667;
	transition: all .2s; 
	z-index: -1;
}
section.Latest .wrap .fb a:hover:after {
	transform: rotateX(90deg);
	-webkit-transform: rotateX(90deg);
}



/*----------------Categories----------------------*/

section.categories {
	padding: 56px;
	background: #3f454d;
	margin-top: 25px;
	overflow: hidden;
}

section.categories .wrap .fc {
	float: left;
	width: 350px;
	padding: 15px;
}

.fc h3 {
	font-size: 30px;
	text-transform: capitalize;
	color: #fff;
	margin-bottom: 20px;
	margin-top: 0;
}

section .categories .wrap .fc p {
	color: white;
}

.up-text a {
	color: #fff;
	text-decoration: none;
}

.up-text a:hover {
	color: #f2af00;
}

.up-text p {
	margin-top: 6px;
	line-height: 1.8em;
	color: #999;
}

.fc ul li:hover {
	color: #f2af00;
}

.up-img {
	float: left;
	width: 21%;
	margin-right: 3%;
}

.up-text {
	float: left;
	width: 76%;
}

.jiantou ul li {
	line-height: 20px;
	color: #999;
	list-style: none;
	padding: 6px 24px;
	background: url(../img/list-arrow.png) no-repeat 0px 15px;
	cursor: pointer;
	list-style-type: none;
}

.jiantou ul li:hover {
	color: #f2af00;
}

.cont ul li {
	display: inline-block;
}
.cont ul {
	margin-bottom: 28px;
}
.cont ul li p {
	color: #999;
	margin: auto;
}

.cont ul li a {
	text-decoration: none;
	color: #999;
	margin: auto;
}

.cont ul li a:hover {
	color: #f2af00;
}
.phone {
	width: 40px;
	height: 40px;
	background: url("../img/img-sprite1.png") no-repeat -220px 0px;
	display: inline-block;
}

.smartphone {
	width: 40px;
	height: 40px;
	background: url("../img/img-sprite1.png") no-repeat -260px 0px;
	display: inline-block;
}

.message {
	width: 40px;
	height: 40px;
	background: url("../img/img-sprite1.png") no-repeat -300px 6px;
	display: inline-block;
}


/*---------------------------------------------*/

.footer {
	padding: 56px 0;
	background: #EEEEEE;
	text-align: center;
}
.icons a {
	width: 55px;
	height: 55px;
	background: url("../img/img-sprite1.png") no-repeat 0px 0px;
	display: inline-block;
	margin: 10px;
}

.icons a:nth-last-of-type(1) {
	background-position-x: 0px;
}
.icons a:nth-last-of-type(2){
	background-position-x: -55px;
}
.icons a:nth-last-of-type(3){
	background-position-x: -110px;
}
.icons a:nth-last-of-type(4){
	background-position-x: -165px;
}

.bottom-menu ul li {
	display: inline-block;
	margin: 10px 15px;
}

.bottom-menu ul li a {
	text-transform: capitalize;
	font-size: 25px;
	color: #000;
	text-decoration: none;
}

.footer-bottom p {
	font-size: 16px;
	color: #000;
	font-weight: 400;
}

a {
	text-decoration: none;
	
    color: #16A667;
}
a:hover {
	text-decoration: underline;
	color: black;
}
#toTop {
	display: none;
	text-decoration: none;
	position: fixed;
	bottom: 10px;
	right: 10px;
	overflow: hidden;
	width: 48px;
	height: 48px;
	border: none;
	text-indent: 100%;
	background: url("../img/to-top2.png") no-repeat 0px 0px;
}